<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237297933602-824kdhgoib72v30rojsiri58f8nmo197.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237297933602-824kdhgoib72v30rojsiri58f8nmo197</string>
	<key>API_KEY</key>
	<string>AIzaSyA373VvPLsV5rCdgoxqF_1RJ9CFGwYBqaY</string>
	<key>GCM_SENDER_ID</key>
	<string>237297933602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstbd233.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>initflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>initflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237297933602:ios:d64b50cf1be9004e74997b</string>
</dict>
</plist>